
MICROSOFT/ACTIVE DIRECTORY/change_password.ps1
MISC/DSC_Control.bat
PALO ALTO NETWORKS/GLOBALPROTECT/Restart_Global_Protect.exe
MICROSOFT/WINDOWS/STEAM/SteamLibrary.exe
MISC/Run_Template.ps1
MISC/testing.ps1
MISC/script_template.ps1
ADOBE/POWERSHELL - Shortcut.lnk
