
MICROSOFT/ACTIVE DIRECTORY/change_password.ps1
GUI SCRIPTS/gui_template.ps1
MISC/DSC_Control.bat
PALO ALTO NETWORKS/GLOBALPROTECT/Restart_Global_Protect.exe
MICROSOFT/OFFICE/APPS
MICROSOFT/WINDOWS/STEAM/SteamLibrary.exe
MISC/Run_Template.ps1